/* 1 - Structure */
/* Global properties */
body { color: #ffffff; background : #000000; font-size: 10pt; font-family: 'Verdana', 'Verdana-Bold', 'Verdana-Italic', sans-serif; }

a { color: #5555AA; }
a:hover { color: LightBlue; text-decoration: underline; }
a:visited { color: #9999FF; }

/* Boxing element that contains everything */
.uberElement {
        width: 800px;
        /*min-width: 400px;
        max-width: 30%;*/
		/*background-color: #eeeeee;*/
		background-image:-moz-linear-gradient(bottom, #000033, rgba(0,0,192,0.0));
		background-image:-webkit-linear-gradient(bottom, #999999, rgba(0,0,192,0.0));
		background-image:-o-linear-gradient(bottom, #999999, rgba(0,0,192,0.0));
		background-image:linear-gradient(bottom, #999999, rgba(0,0,192,0.0));
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
		border-radius: 10px 10px 0px 0px;
		text-align: justify;
		}

.haut { width: 90%;
	padding-top: 10px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*border: 2px solid #000000;*/
	}
.bas { text-align: center; font-size: 11px; font-style: italic; margin: -5px; padding: 10px; /*border-top: px solid #444444; */}

#logoRight { float: right; }
#logoRight img { max-width: 100px; height: auto; margin-bottom: 10px; }
#logoLeft { float: left; }
#logoLeft img { max-width: 100px; height: auto; margin-bottom: 10px; }
#catchphrase { font-style: italic; color: LightBlue; }
#claim { background-color: #AAAAAA; padding: 15px; color: Navy; }
#claim #important { font-weight: bold; }

.sizedimgH{ max-width: 200px; height: auto; }
.sizedimgV{ max-height: 125px; width: auto; }
.standardimg{ max-width: 60%; height: auto; display: block; }

.menu { margin: 10px; margin-bottom: 5px; text-align: center; border-top: 3px solid #CCCCCC; border-bottom: 3px solid #AAAAAA; }
.menu ul { text-align: center; /*border: 2px solid #0000FF;*/ }
.menu li { margin: auto; padding: 5px; display: inline; list-style-type: none; /*border: 2px solid #000000;*/ }
.menu ul a { text-decoration: none; }

/* Right column */
.corps { width: 99%; padding: 5px; padding-top: 0px; text-align: justify;/* border-right: 1px dashed blue;*/ }
.corpscolumn { float: left; width: 30%; margin: 10px; padding: 15px; border-radius: 20px 20px; background-color: #000000; }

/* Titles */
h3 { color: #ffffff; font-variant: small-caps; border: 0px solid #000000; padding: 10px; }
h4 { border: 0px solid #000000; padding: 5px; }
